@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'reboot';

html,
body,
app-root,
app-home {
  height: 100%;
}

app-root,
app-home {
  display: block;
  position: relative;
}

.d-print-none {
  @media print {
    display: none !important;
  }
}

@media print {
  body {
    background-color: transparent;
  }
}
