@import "../../variables";

$base-line-spacing: 14px;

$font-sizes: (
  1: .75rem,
  2: 1rem,
  3: 1.25rem,
  4: 1.5rem,
  5: 1.75rem,
  6: 2rem
);

$line-spacing: (
  1: $base-line-spacing,
  2: $base-line-spacing * 2,
  3: $base-line-spacing * 3,
  4: $base-line-spacing * 4,
  5: $base-line-spacing * 5,
  6: $base-line-spacing * 6,
  7: $base-line-spacing * 7,
  8: $base-line-spacing * 8,
  9: $base-line-spacing * 9,
  10: $base-line-spacing * 10
);

$sidebar-bg: #fff;
$sidebar-width: 300px;

.worksheet {
  align-items: stretch;
  flex-direction: row;
  display: flex;
  height: 100%;
  position: relative;
}

.worksheet-content {
  background-color: #78909C;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.worksheet-display-disclaimer {
  background-color: #F44336;
  color: #fff;
  font-size: .875rem;
  font-style: italic;
  left: 0;
  padding: .5rem 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.worksheet-option__range-min-max {
  .mat-form-field {
    width: 75px;

    &:first-child {
      margin-right: 10px;
      width: 125px;
    }
  }
}

.worksheet-options {
  .mat-expansion-panel {
    background-color: transparent;
    border-top: 1px solid #ccc;
    margin: 0 -24px;
    transition: background 250ms ease;

    &:last-of-type {
      border-bottom: 1px solid #ccc;
    }

    // &.mat-expanded {
    //   background-color: #FFF8E1;
    // }
  }
}

.worksheet-options__problem-type {
  border: 1px solid transparent;
  margin-left: -24px;
  margin-right: -24px;
  padding: 5px 24px;
  transition: background 250ms ease, border-color 250ms ease, padding 250ms ease;
}

.worksheet-options__problem-type--enabled {
  background-color: #f5f5f5;
  border-bottom-color: $gray-500;
  border-top-color: $gray-500;
  padding-bottom: 10px;
  padding-top: 10px;

  &:nth-child(odd) {
    background-color: #eee;
  }

  + .worksheet-options__problem-type--enabled {
    border-top-color: transparent;
  }
}

.worksheet-sidebar {
  background-color: $sidebar-bg;
  height: calc(100% - 84px); // leave room for the generate button
  overflow-y: auto;
  position: relative;
  width: $sidebar-width;
}

.worksheet__generate {
  background-color: $sidebar-bg;
  left: 0;
  padding: 24px;
  position: fixed;
  bottom: 0;
  width: $sidebar-width;
  z-index: 10;

  button {
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
  }
}

.worksheet__card {
  height: 660pt; // emulate 8.5x11 paper height
  margin: 75px auto 1rem;
  padding: 2rem;
  width: 511pt; // emulate 8.5x11 paper width
}

.worksheet__card--landscape {
  height: 511pt; // emulate landscape 8.5x11 paper height
  width: 660pt; // emulate landscape 8.5x11 paper width
}

.worksheet__instructions {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.worksheet__name-date {
  font-weight: 500;
  margin: 0;
}

.worksheet__date {
  float: right;
  text-align: right;
  width: 45%;

  &:after {
    border-bottom: 2px solid #000;
    content: "";
    display: inline-block;
    margin-left: .5rem;
    width: 50%;
  }
}

.worksheet__name {
  float: left;
  text-align: left;
  width: 50%;

  &:after {
    border-bottom: 2px solid #000;
    content: "";
    display: inline-block;
    margin-left: .5rem;
    width: 75%;
  }
}

.worksheet__print-button {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 10;
}

.worksheet__title {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.math-problem {
  box-sizing: border-box;
  margin-top: 1rem;
  text-align: center;
  transition: font-size 250ms ease, margin 250ms ease, width 250ms ease;
  width: 20%;

  @for $i from 1 through 10 {
    .math-problems--columns-#{$i} & {
      width: (100% / $i);

      &:nth-child(-n+#{$i}) {
        margin-top: 0;
      }
    }
  }

  @for $i from 1 through 6 {
    .math-problems--font-size-#{$i} & {
      font-size: map-get($font-sizes, $i);
    }
  }

  @for $i from 1 through 10 {
    .math-problems--line-spacing-#{$i} & {
      margin-top: map-get($line-spacing, $i);
    }
  }
}

.math-problem__answer {
  border-top: 2px solid #000;
  color: #E91E63;
  text-align: right;
}

.math-problem__number {
  font-weight: 500;
  left: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 2em;
}

.math-problem__problem {
  display: inline-block;
  padding-left: 2em;
  position: relative;
  text-align: left;
}

.math-problem__symbol {
  bottom: 1.5em;
  left: 2em;
  position: absolute;
}

.math-problem__value {
  padding-left: 1em; // leave room for the symbol
  text-align: right;
}

.math-problem__answer,
.math-problem__value {
  @for $i from 0 through 10 {
    .math-problems--letter-spacing-#{$i} & {
      letter-spacing: $i + px;
    }
  }
}

.math-problems {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

@media print {
  .math-problem {
    @for $i from 1 through 10 {
      .math-problems--line-spacing-#{$i} & {
        margin-top: map-get($line-spacing, $i) * 1.5;
      }
    }
  }

  .worksheet-content {
    background-color: transparent;
    height: auto;
    overflow-y: visible;
  }

  .worksheet__card,
  .worksheet__card--landscape {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
