$base-line-spacing: 16px;

$font-sizes: (
  1: .75rem,
  2: 1rem,
  3: 1.25rem,
  4: 1.5rem,
  5: 1.75rem,
  6: 2rem
);

$line-spacing: (
  1: $base-line-spacing,
  2: $base-line-spacing * 2,
  3: $base-line-spacing * 3,
  4: $base-line-spacing * 4,
  5: $base-line-spacing * 5,
  6: $base-line-spacing * 6,
  7: $base-line-spacing * 7,
  8: $base-line-spacing * 8,
  9: $base-line-spacing * 9,
  10: $base-line-spacing * 10
);

.worksheet {
  align-items: stretch;
  flex-direction: row;
  display: flex;
  height: 100%;
}

.worksheet-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.worksheet-sidebar {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
}

.worksheet__card {
  height: 660pt; // emulate 8.5x11 paper height
  margin: 1rem auto;
  padding: 2rem;
  width: 511pt; // emulate 8.5x11 paper width
}

.worksheet__card--landscape {
  height: 511pt; // emulate landscape 8.5x11 paper height
  width: 660pt; // emulate landscape 8.5x11 paper width
}

.worksheet__instructions {
  font-weight: 400;
  margin: 0 0 1rem 0;
  text-align: center;
}

.worksheet__name {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: right;

  &:after {
    border-bottom: 2px solid #000;
    content: "";
    display: inline-block;
    margin-left: .5rem;
    width: 50%;
  }
}

.worksheet__title {
  font-weight: 500;
  margin: 0 0 1rem 0;
  text-align: center;
}

.math-problem {
  box-sizing: border-box;
  margin-bottom: 1rem;
  text-align: center;
  transition: font-size 250ms ease, margin 250ms ease, width 250ms ease;
  width: 20%;

  @for $i from 1 through 10 {
    .math-problems--columns-#{$i} & {
      width: (100% / $i);
    }
  }

  @for $i from 1 through 6 {
    .math-problems--font-size-#{$i} & {
      font-size: map-get($font-sizes, $i);
    }
  }

  @for $i from 1 through 10 {
    .math-problems--line-spacing-#{$i} & {
      margin-bottom: map-get($line-spacing, $i);
    }
  }
}

.math-problem__answer {
  border-top: 2px solid #000;
  text-align: right;
}

.math-problem__number {
  font-weight: 500;
  left: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 2em;
}

.math-problem__problem {
  display: inline-block;
  padding-left: 2em;
  position: relative;
  text-align: left;
}

.math-problem__symbol {
  bottom: 1.5em;
  left: 2em;
  position: absolute;
}

.math-problem__value {
  padding-left: 1em; // leave room for the symbol
  text-align: right;
}

.math-problem__answer,
.math-problem__value {
  @for $i from 0 through 10 {
    .math-problems--letter-spacing-#{$i} & {
      letter-spacing: $i + px;
    }
  }
}

.math-problems {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

@media print {
  .math-problem {
    @for $i from 1 through 10 {
      .math-problems--line-spacing-#{$i} & {
        margin-bottom: map-get($line-spacing, $i) * 1.25;
      }
    }
  }

  .worksheet-content {
    height: auto;
    overflow-y: visible;
  }

  .worksheet-sidebar {
    display: none;
  }

  .worksheet__card,
  .worksheet__card--landscape {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .worksheet__name {
    margin-bottom: 1.5rem;
  }
}
